.screen {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: center;
  width: 100%;

  .text {
    width: 312px;
    margin: auto;
    padding-right: 8px;
    text-align: right;
    border: 2px solid rgb(0 0 0 / 20%);
    border-radius: 8px;
    box-sizing: border-box;

    .currenNumbers {
      font-size: xx-large;
      margin: 6px 0;
    }

    .currentOp {
      margin-top: 8px;
      padding-right: 4px;
    }
  }
}