// FONTS
$main-font: 'Roboto', sans-serif;

// COLORS
$text: black;
$text-inverse: #fafafa;
$button-light: #fafafa;
$button-dark: #efefef;
$button-main: #0067C0;
$button-border: #d4d4d4;
$app-border: #c0c0c0;
